#moon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: url("./Assets/moon.jpg");
  background-position: center;

  box-shadow: inset 22px 0px 10px 0px black;
}

@keyframes spin {
  100% {
    background-position: 100%;
  }
}

@keyframes moon {
  0% {
    top: 25%;
    left: 60%;
    box-shadow: inset -50px 0px 30px 8px black;
  }

  25% {
    top: 20%;
    left: 55%;
    box-shadow: inset -50px 25px 30px 8px black;
  }

  50% {
    top: 15%;
    left: 46.3%;
    /* box-shadow: inset 0px 12px 25px 0px black; */
    box-shadow: inset 0px -25px 25px 8px black;
  }

  75% {
    top: 20%;
    left: 36.3%;
    box-shadow: inset 50px 25px 30px 8px black;
  }

  100% {
    top: 25%;
    left: 30%;
    box-shadow: inset 50px 0px 30px black;
  }
}

#earth {
  background-image: url("./Assets/erth1.jpg");
  background-position: center;
  animation: earth 120s linear alternate infinite;
}

@keyframes earth {
  100% {
    background-position: 100%;
  }
}

#sun {
  background-image: url("./Assets/sun2.jpg");
  background-position: center;
  animation: sun 120s linear alternate infinite;
}

@keyframes sun {
  0% {
    background-image: url("./Assets/sun4.jpg");
    background-position: center;
    background-size: stretch;
  }

  50% {
    background-image: url("./Assets/sun.jpg");
    background-position: center;
    background-size: stretch;
  }

  100% {
    background-image: url("./Assets/sun4.jpg");
    background-position: center;
    background-size: stretch;
  }
}
